%h1 Listing clients

%table
  %tr
    %th Name
    %th Age
    %th Address
    %th Date of birth
    %th
    %th
    %th

  - @clients.each do |client|
    %tr
      %td= client.name
      %td= client.age
      %td= client.address
      %td= client.date_of_birth
      %td= link_to 'Show', client
      %td= link_to 'Edit', edit_client_path(client)
      %td= link_to 'Destroy', client, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Client', new_client_path
