%p#notice= notice

%p
  %b Name:
  = @client.name
%p
  %b Age:
  = @client.age
%p
  %b Address:
  = @client.address
%p
  %b Date of birth:
  = @client.date_of_birth

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
