<h1>Sign up</h1>
<%= form_for(:session, url: sessions_path) do |f|%>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "login" %>


<% end %>
